@import "colors";

.btnprimary {
  background-color: $blue;
  border: 1.5px solid $blue;
  padding: 13px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;

  .btnlink {
    text-decoration: none;
    color: $white;
    font-size: 18px;
    align-items: center;
    width: 100%;
    font-weight: lighter;
  }

  &:hover {
    border: 1.5px solid $blue;
    background: transparent;
    transition: all 0.3s;
    border-radius: 5px;

    .btnlink {
      color: $blue;
      font-weight: lighter;
    }
  }
}

.btnsecondary {
  background-color: $darkgray;
  border: 1.5px solid $darkgray;
  padding: 10px 25px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: all 0.3s;

  .btnlink {
    text-decoration: none;
    color: $white;
    font-size: 17px;
    align-items: center;
  }

  &:hover {
    border: 1.5px solid $gray;
    background: transparent;
    transition: all 0.3s;
    border-radius: 5px;

    .btnlink {
      color: $gray;
      font-weight: lighter;
    }
  }

}