@import "colors";
@import "media";
@import "buttons";

%align-center {
  display: flex;
  align-items: center;
}


#navigation-bar {
  position: sticky;
  //overflow: hidden;
  top: 0;
  width: 100%;

  .navbar {
    //position: relative; //sticky maybe //KEEP IT RELATIVE
    background-color: $black;
    width: 100%;
    padding: 5px;
    top: 0;
    z-index: 999;

    .navcontainer {
      @extend %align-center;
      position: sticky;
      justify-content: center;
      margin-bottom: 10px;

      .logo {
        display: flex;
        width: 100px;
        height: 140px;
        font-size: 21px;
        font-weight: bold;
        margin-right: 60px;
        cursor: pointer;
        align-items: center;
        text-align: center;

        h1 {
          color: $blue;
        }
      }

      &:hover {
        color: $white;
        transition: all 0.3s ease;
      }

      .navmenu {

        .navlinks {
          color: $blue;
          font-size: 19px;
          font-weight: bold;
          margin-left: 12px;
          padding-left: 10px;
          list-style: none;
          text-align: center;

          &:hover {
            color: $white;
            transition: all 0.3s ease;
          }
        }

        .btnprimary {
          background-color: $blue;
          margin-left: 22px;
          //padding-left: 10px;
          &:hover {
            background-color: $black;
            border: 1.5px solid $blue;

            .btnlink {
              color: $blue;
            }
          }
        }
      }
    }
  }
}
