@import "colors";
@import "media";

%align-center {
  display: flex;
  align-items: center;
}


#navigation-bar {
  position: sticky;
  //overflow: hidden;
  top: 0;
  width: 100%;

  .navbar {
    //position: relative; //sticky maybe //KEEP IT RELATIVE
    background-color: $white;
    width: 100%;
    padding: 5px;
    top: 0;
    z-index: 999;


    .navcontainer {
      @extend %align-center;
      position: sticky;
      justify-content: center;
      margin-bottom: 10px;

      .logo {
        display: flex;
        width: 93.16px;
        height: 140px;
        margin-right: 15px;
        //image-resolution: normal;
        cursor: pointer;
      }

      .navmenu {

        .navlinks {
          color: $pink;
          font-size: 17px;
          font-weight: bold;
          margin-left: 12px;
          padding-left: 10px;
          list-style: none;
          text-align: center;

          &:hover {
            color: $grey;
            transition: all 0.1s ease-in;
          }
        }
      }
    }
  }
}
