html {
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

footer {
  margin-top: auto;
  bottom: 0;
}

a {
  text-decoration: none;
}

h1 {
  color: #e95daf;
}

p {
  color: black;
}

#navigation-bar .navbar .navcontainer {
  display: flex;
  align-items: center;
}

#navigation-bar {
  position: sticky;
  top: 0;
  width: 100%;
}
#navigation-bar .navbar {
  background-color: white;
  width: 100%;
  padding: 5px;
  top: 0;
  z-index: 999;
}
#navigation-bar .navbar .navcontainer {
  position: sticky;
  justify-content: center;
  margin-bottom: 10px;
}
#navigation-bar .navbar .navcontainer .logo {
  display: flex;
  width: 93.16px;
  height: 140px;
  margin-right: 15px;
  cursor: pointer;
}
#navigation-bar .navbar .navcontainer .navmenu .navlinks {
  color: #e95daf;
  font-size: 17px;
  font-weight: bold;
  margin-left: 12px;
  padding-left: 10px;
  list-style: none;
  text-align: center;
}
#navigation-bar .navbar .navcontainer .navmenu .navlinks:hover {
  color: #2c3a4c;
  transition: all 0.1s ease-in;
}

.followus-section .followus-container, .products-section .products-container, .vision-section .vision-container, .objectives-section .objectives-container, .intro-section .intro-container {
  display: grid;
  grid-template-columns: 1fr 1fr fit-content(50%);
  align-items: center;
  margin: 0 auto;
  height: 70.1vh;
  z-index: 999;
  width: 100%;
  max-width: 1200px;
  padding-left: 80px;
  overflow: hidden;
}

.followus-section .followus-container-left, .products-section .products-container-right, .vision-section .vision-container-left, .objectives-section .objectives-container-right, .intro-section .intro-container-left {
  width: 100%;
  line-height: 1.2;
}
.followus-section .followus-container-left h1, .products-section .products-container-right h1, .vision-section .vision-container-left h1, .objectives-section .objectives-container-right h1, .intro-section .intro-container-left h1 {
  line-height: 1.4;
  font-size: 50px;
  padding-bottom: 10px;
}
.followus-section .followus-container-left p, .products-section .products-container-right p, .vision-section .vision-container-left p, .objectives-section .objectives-container-right p, .intro-section .intro-container-left p {
  line-height: 1.5;
  font-size: 20px;
  padding-bottom: 15px;
}

.intro-section {
  background-color: white;
}
.intro-section .intro-container-left {
  justify-content: center;
}
.intro-section .intro-container-right {
  width: 50%;
  justify-content: right;
  padding-left: 45%;
}
.intro-section .intro-container-right .fa-hand-holding-heart {
  justify-content: right;
  font-size: 200px;
  color: #e95daf;
}

.objectives-section {
  background-color: white;
}
.objectives-section .objectives-container-left {
  width: 50%;
  justify-content: right;
}
.objectives-section .objectives-container-left .fa-bullseye {
  font-size: 200px;
  color: #e95daf;
}
.objectives-section .objectives-container-right {
  padding-right: 15px;
}

.vision-section {
  background-color: white;
}
.vision-section .vision-container-left {
  justify-content: left;
}
.vision-section .vision-container-right {
  width: 50%;
  justify-content: right;
  padding-left: 45%;
}
.vision-section .vision-container-right .fa-search {
  font-size: 200px;
  color: #e95daf;
}

.products-section {
  background-color: white;
}
.products-section .products-container-left {
  width: 50%;
  justify-content: right;
}
.products-section .products-container-left .fa-box-open {
  font-size: 190px;
  color: #e95daf;
}
.products-section .products-container-right {
  padding-right: 15px;
}

.followus-section {
  background-color: white;
}
.followus-section .followus-container-left {
  justify-content: left;
}
.followus-section .followus-container-right {
  width: 50%;
  justify-content: right;
}
.followus-section .followus-container-right .fa-comment-alt {
  font-size: 200px;
  color: #e95daf;
}

.donate-section {
  background-color: white;
}
.donate-section .donate-container {
  width: 100%;
  margin: 0 auto;
  padding: 15px 33.8%;
  align-items: center;
  justify-items: center;
  overflow: hidden;
  z-index: 999;
}
.donate-section .donate-container .paypal {
  display: flex;
  padding-top: 13px;
  align-items: center;
  justify-items: center;
}

.info-section {
  background-color: white;
}
.info-section .info-container {
  /*display: grid;
  //grid-template-columns: 1fr 1fr fit-content(50%);
  align-items: center;
  justify-items: center;
  margin: 0 auto;
  z-index: 999;
  width: 100%;
  max-width: 1200px;
  //padding maybe
  padding: 20px 80px;
  overflow: hidden;*/
  width: 100%;
  margin: 0 auto;
  padding: 20px 30%;
  align-items: center;
  justify-items: center;
  overflow: hidden;
  z-index: 999;
}
.info-section .info-container .box {
  width: 500px;
  margin: 20px;
  background: #fff;
  border-radius: 7px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
}
.info-section .info-container .faqs {
  padding: 5px 20px 20px;
}
.info-section .info-container details {
  background: #f6f6f6;
  padding: 10px 20px;
  border-radius: 7px;
  margin-top: 10px;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
}
.info-section .info-container details summary {
  outline: none;
}

.footer-section {
  padding: 6rem 2rem;
  background-color: #e95daf;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-section .footer-info {
  display: flex;
}
.footer-section .footer-info .footer-links {
  padding: 0 30px;
  text-align: center;
  justify-content: center;
}
.footer-section .footer-info .footer-links h2 {
  color: white;
  font-weight: bold;
}
.footer-section .footer-info .footer-links a {
  color: black;
  display: block;
  align-items: center;
}

.website-rights {
  background: #e95daf;
  padding-top: 15px;
  bottom: 0;
  margin: 0;
  display: flex;
  align-items: center;
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
