@import "colors";
@import "buttons";

//core styles

html {
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Mate SC', serif;
}

body {
  background-color: $white;
  //position: relative;
  //margin: 0;
  //padding-bottom: 6rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

footer {
  margin-top: auto;
  bottom: 0;
}

a {
  text-decoration: none;
}

h1 {
  color: $white;
}

p {
  color: $black;
}

//navbar
@import "navbar";

//container sections
%overallcontainer {
  //position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr fit-content(50%);
  align-items: center;
  //justify-items: center;
  margin: 0 auto;
  height: 70.1vh;
  z-index: 999;
  width: 100%;
  max-width: 1200px;
  //padding maybe
  padding-left: 80px;
  overflow: hidden;
}

//container info
%containerinfo {
  width: 100%;
  line-height: 1.2;

  //header
  h1 {
    line-height: 1.4;
    font-size: 50px;
    padding-bottom: 10px;
  }
  //paragraph
  p {
    line-height: 1.5;
    font-size: 20px;
    padding-bottom: 15px;
    color: black;
  }

}

//intro
.intro-section {

  background-color: $blue;

  .intro-container {
    @extend %overallcontainer;

    //intro left - description
    &-left {
      justify-content: center;
      @extend %containerinfo;
      h1, p {
        color: black;
        margin-bottom: 10px;
      }
    }

    //intro right - image
    &-right {
      width: 50%;
      justify-content: right;
      padding-left: 45%;
    }
  }
}

//objectives
.objectives-section {
  background-color: $white;

  .objectives-container {
    @extend %overallcontainer;

    //objectives left - image
    &-left {
      width: 50%;
      justify-content: right;

      .fa-paper-plane {
        font-size: 200px;
        color: $blue;
      }
    }
    //objectives right - description
    &-right {
      @extend %containerinfo;
      padding-right: 15px;
      h1 {
        color: black;
      }
    }
  }
}

//vision
.vision-section {

  background-color: black;

  .vision-container {
    @extend %overallcontainer;

    //vision left - description
    &-left {
      justify-content: left;
      @extend %containerinfo;
      h1{
        color: $white;
      }
    }

    //vision right - image
    &-right {
      width: 50%;
      justify-content: right;
      padding-left: 45%;

      .fa-bullseye {
        font-size: 200px;
        color: $blue;
      }
    }
  }
}

//followus
.followus-section {

  background-color: $white;
  //overflow: visible;

  .followus-container {
    @extend %overallcontainer;

    //followus left - description
    &-left {
      justify-content: left;
      @extend %containerinfo;
      h1 {
        color: black;
        margin-bottom: 10px;
      }
    }

    //followus right - image
    &-right {
      width: 50%;
      justify-content: right;
      padding-left: 45%;

      .fa-comment-alt {
        font-size: 200px;
        color: $blue;
      }
    }
  }
}


//info page
.info-section {
  background-color: $white;

  .info-container {
    /*display: grid;
    //grid-template-columns: 1fr 1fr fit-content(50%);
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    z-index: 999;
    width: 100%;
    max-width: 1200px;
    //padding maybe
    padding: 20px 80px;
    overflow: hidden;*/

    width: 100%;
    margin: 0 auto;
    padding: 20px 30%;
    align-items: center;
    justify-items: center;
    overflow: hidden;
    z-index: 999;

  }
}

.footer-section {
  //position: absolute;
  //right: 0;
  //bottom: 0;
  //left: 0;
  padding: 6rem 2rem;
  background-color: $black;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  .footer-info {
    display: flex;

    .footer-links {
      padding: 0 30px;
      text-align: center;
      justify-content: center;
      h2 {
        color: $white;
        font-weight: bold;
      }
      a {
        color: $blue;
        display: block;
        align-items: center;
      }
    }
  }
}

.website-rights {
  background: $black;
  color: $blue;
  padding-top: 15px;
  bottom: 0;
  margin: 0;
  display: flex;
  align-items: center;
  text-align: center;
}


