@import "colors";

.btnprimary {
  background-color: $pink;
  border: 1.5px solid $pink;
  padding: 13px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;

  .btnlink {
    text-decoration: none;
    color: $white;
    font-size: 18px;
    align-items: center;
    width: 100%;
    font-weight: lighter;
  }

  &:hover {
    border: 1.5px solid $pink;
    background: transparent;
    transition: all 0.3s;
    border-radius: 5px;

    .btnlink {
      color: $pink;
      font-weight: lighter;
    }
  }
}

.btnsecondary {
  background-color: $grey;
  border: 1.5px solid $grey;
  padding: 10px 25px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: all 0.3s;

  .btnlink {
    text-decoration: none;
    color: $white;
    font-size: 17px;
    align-items: center;
  }

  &:hover {
    border: 1.5px solid $grey;
    background: transparent;
    transition: all 0.3s;
    border-radius: 5px;

    .btnlink {
      color: $grey;
      font-weight: lighter;
    }
  }

}